/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
}

.padding-24 {
    padding: 24px;
}

.width-300 {
    width: 300px;
}

.margin-right-16 {
    margin-right: 16px;
}

.margin-top-24 {
    margin-top: 24px;
}
